:root{
    --bg-body:#181419;
    --bg-menu:#1c49dd;
    --bg-submenu: rgb(39, 106, 230);
    --bg-searchbuttom: #0f0e0e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-body);
    font-family: "nunito",sans-serif;
    color:#fff;
}

header{
    position: sticky;
    z-index: 10;
    top: 0%;
}

#menu-cac span a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1em;
}

.menu {
    background-color: var(--bg-menu);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;    
}

.searchbar input {
    border-radius: 10px;
    padding: 3px;
    outline: none;
    border: 0;
    padding-left: 40px;
    width: 25vw;
}

.searchbar button {
    background-color: var(--bg-searchbuttom);
    width: 30px;
    height: 30px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px 0 0 5px;
    color: #fff;

}

#nav-link{
    display: flex;
    justify-content: center;
    list-style: none;   /*quita los puntos de la listas de link*/
    gap: 50px;
}

#nav-link li {
    padding-top: 13px;
}

.nav_item {
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.nav_item i {
    margin-top: 10px;
    margin-right: 8px;
}

.nav_item li {
    padding-top: 0;   
}

.nav_item:hover {
    color:rgba(0, 0, 0, 0.8)
}

.submenu {
    margin: auto;
}

.submenu-horizontal {
    display: flex;
    list-style: none;
    background-color: var(--bg-submenu);
    justify-content: space-around;
}

.submenu-horizontal li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: inherit;
}

.submenu-horizontal li:hover {
    background-color: #181419;
}

.submenu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}


.submenu-horizontal li:hover .submenu-vertical {
    display: block;
}



#nav-link li a{
    text-decoration: none; /* saco los subrayado del link*/
    color: inherit;        /*saco el color azul del link y que use el color que le pongo yo a mi body*/

}

h2{
    font-size: 3em;
}

img{
    width: 100vw;
}

.carosuel {
    position: absolute;
    z-index: 0;
}

.carousel-indicator {
    z-index: 0;
}

.carousel-item{
    height: 480px;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

#boton_tendencias {
    margin: 100px !important;
}
#boton_tendencias a{
    text-decoration: none;
    color: inherit;
}

#tendencias {
    height: 100vh;
}

#tend-title {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
} 

/*#grid-games {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 4fr 4fr;
    grid-row-gap: 20px;
}*/

.game-item img {
    width: 250px;
    height: 300px;
}

.games-grid {
    height: 800px;
    display: grid;
    margin-top: 10x;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);

    /*ubicacion de la grilla respecto de la etiqueta padre*/
    justify-content: center;
    align-content: center;

    /*unico los items con respecto a su celda*/
    justify-items: center;
    align-items: center;

    grid-column-gap: 20px;
    grid-row-gap: 120px;
}

.game-item-detail {
    margin-bottom: 30px;
}


/*PROXIMOS LANZAMIENTOS*/

#pl-title {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}



.container {
    max-width: 1024px;
    margin: 0 auto;
}

.swiper {
    margin-top: 40px;
}

.swiper-slide {
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    height: 420px;
    width: 295px;
    position: relative;
}

.swiper-slide img {
    width: 295px;
    border-radius: 15px;
    height: 420px;
}

.swiper-txt {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
}

.swiper-txt p {
    color: #faf9f9;
    font-size: 20px;
}

@media (max-width: 991px){

    #proxLanzam {
        width: 300px;
    }
    
    .swiper{
        padding: 0 70px;
        width: 400px;
    }

    .swiper-slide img {
        width: 100%;
    }

    
}

@media (max-width: 600px){

    .swiper {
        width: 300px;
    }

}





/*FOOTER*/


footer {
    background-color: var(--bg-menu);
    margin-top: 100px;
    padding-top: 20px;
}

.footer-redes {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.redes i {
    font-size: 2em;
}

.footer-fila-1 {
    display: flex;
    align-items: center;
}

.footer-fila-2 p{
    text-align: center;
    color: #e3dce6;
    font-family:'Times New Roman', Times, serif;
}

.footer-fila-3 div{
    display: flex;
    justify-content: center;
}

.footer-fila-3 a {
    padding-top: 5px;
    font-size: 1.2em;
}

.footer-fila-3 i {
    margin-right: 8px;
}

.footer-terms {
    margin-top: 20px;
    padding: 10px 0;
    color: #89848b;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
}

.footer-terms a:hover {
    color:rgba(253, 253, 253, 0.637)
}

footer a {
    text-decoration: none;
    color: inherit;
    padding-right: 10px;
}

footer a:hover {
    color:rgba(0, 0, 0, 0.5)
}

.info-imp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}



@media (max-width: 991px) {
}