:root{
    --bg-body:#181419;
    --bg-menu:#1c49dd;
    --bg-submenu: rgb(39, 106, 230);
    --bg-searchbuttom: #0f0e0e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondoregistro.jpg);
    font-family: "nunito",sans-serif;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#form_is {
    background-color: #24253c;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 25px;
    /*width: 30vw;*/
}

#form_reg {
    background-color: #24253c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 25px;
    max-height: 900px;
    /*width: 30vw;*/
}

.form h2 {
    font-size: 30px;
    color: #edf0f0;
    margin-bottom: 35px;
}

.div_inp{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_inp input {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #603452;
    outline: none;
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    width: 100%;
}

#submi {
    padding: 17px;
    border-radius: 25px;
    outline: none;
    margin-bottom: 30px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    background-color: #e53854;
    border: 2px solid #e53854;
    cursor: pointer;
    margin-top: 20px;
}

#submi:hover {
    background-color: #f33f5a;
    border: 2px solid #f33f5a;
}


select {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #603452;
    outline: none;
    margin-bottom: 0;
    margin-top: 20px;
    color: #ffffff;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
option {
    color: #0f0e0e;
}

#op_default {
    color: #898798;
}

::placeholder {
    color: #898798;
}

.div_checkbox{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.div_checkbox input {
    margin-right: 8px;
}

form p {
    list-style: none;
}

form p a {
    color: inherit;
}

#text_home {
    margin-top: 25px;
    margin-bottom: -10px;
}

@media (max-width: 991px) {

    body {
        padding: 30px;
    }

    #form_reg {
        /*width: 340px;*/
        width: 70vw;
    }
    #form_is {
        /*width: 340px;*/
        width: 70vw;
    }
}

@media (max-width: 650px) {

    body {
        padding: 30px;
    }

    #form_reg {
        /*width: 340px;*/
        width: 90vw;
        height: 50%;
    }
    #form_is {
        /*width: 340px;*/
        width: 90vw;
        height: 50%;
    }
}

.error{
    color: red !important;
}

.cuadroError{
    border-color: red !important;
    margin: 0;
    padding: 0;
}

.oculto{
    display: none !important;
}

.cuadroBien {
    border-color: #603452 !important;
}

.cuadGenError{
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid red;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.checkbox_error {
    display: flex !important;
    flex-direction: column !important;
}